@import "tailwindcss";

:root {
  --primary: #5b171a;
  --secondary: #1e1e1e;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);

  --font-montserrat: var(--font-montserrat);
}

body {
  font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
}
